altgraph
amqp
anyio
argon2-cffi
arrow
asgiref
asttokens
async-lru
attrs
autopep8
Babel
beautifulsoup4
billiard
bleach
blinker
bs4
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
contourpy
ctk
customtkinter
cycler
darkdetect
debugpy
decorator
defusedxml
distlib
distro
dj-database-url
Django
environ
et-xmlfile
eval
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
google_search_results
googleapis-common-protos
googlemaps
grpcio
grpcio-status
gunicorn
h11
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
JPype1
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab-widgets
kiwisolver
kombu
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
outcome
overrides
packaging
pandas
pandocfilters
parso
pefile
Pillow
pipenv
platformdirs
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure-eval
pyasn1
pyasn1-modules
pycodestyle
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyPDF2
PySocks
pytesseract
python-dateutil
python-json-logger
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
redis
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
seaborn
selenium
Send2Trash
serpapi
setuptools
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
tabula
tabula-py
tabulate
terminado
tinycss2
tk
toml
tornado
tqdm
traitlets
trio
trio-websocket
types-python-dateutil
typing-extensions
tzdata
uri-template
urllib3
vine
virtualenv
voila
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
wsproto
xlrd
XlsxWriter
