<!DOCTYPE html>
<head>

</head>
<body>
    <div class="card d-block h-100 mb-4">
        <div class="row g-2">
            <div class="col-7 d-flex justify-content-center align-items-center">
                <img src="{{ pollImage }}" class="img-fluid" alt="..." id="ItemPicture">
            </div>
            
            <div class="col-5">
                <div class="card-body px-0">
                    <div class="col px-0">
                        <h5 class="card-title" id="itemPrice">{{ object.image_title }}</h5>
                        <a class="py-2" id="itemPoster" href="user/{{ object.user_id }}">{{ object.username }}</a>
                        <p class="card-text" id="itemDescription">{{ object.image_description }}</p>
    
                    </div>
                    <div class="row d-block w-100">
                        <button class="btn btn-lg btn-outline-* w-100 p-0" data-toggle="button" aria-pressed="false" onclick="onPollVote('like', '{{ object.id }}');">
                            <i class="bi bi-check-circle"></i>
                        </button>
                        <button class="btn btn-lg btn-outline-* w-100 p-0" data-toggle="button" aria-pressed="false" onclick="onPollVote('dislike', '{{ object.id }}');">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                    <div class="row d-block w-100">
                        <!-- Vote count for each image -->
                        <!-- thumbs up and thumbs down respectively -->
                        <div class="row">
                            <div class="col">
                                <i class="{{ object.id }}1 bi-hand-thumbs-up{% if object.user_vote == 'like' %}-fill{% endif %}"></i><span id="yes-votes-{{ object.id }}">{{ object.likes_count }}</span>
                            </div>
                            <div class="col">
                                <i class="{{ object.id }}2 bi-hand-thumbs-down{% if object.user_vote == 'dislike' %}-fill{% endif %}"></i><span id="no-votes-{{ object.id }}">{{ object.dislikes_count }}</span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</body>
