<!DOCTYPE html>
<head>
    <script src="{{ url_for('static', filename='js/pollVote.js') }}"></script>
</head>
<body>
    <div class="card d-block h-100 mb-4">
        <div class="row g-2">
            <div class="col-7 d-flex justify-content-center align-items-center">
                <img src="{{ pollImage }}" class="img-fluid" alt="..." id="ItemPicture">
            </div>
            
            <div class="col-5">
                <div class="card-body px-0">
                    <div class="col px-0">
                        <h5 class="card-title" id="itemPrice">{{ pollImage.split("/")[-1].split(".")[0].title() }}</h5>
                        <p class="card-text" id="itemDescription">Description for {{ (pollImage.split("/")[-1].split(".")[0]).title() }}
                        from database as unzipped dict</p>
    
                    </div>
                    <div class="row d-block w-100">
                        <button class="btn btn-lg btn-outline-* w-100 p-0" data-toggle="button" aria-pressed="false" onclick="onPollVote('like', '{{ pollImage }}');">
                            <i class="bi bi-check-circle"></i>
                        </button>
                        <button class="btn btn-lg btn-outline-* w-100 p-0" data-toggle="button" aria-pressed="false" onclick="onPollVote('dislike', '{{ pollImage }}');">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                    <div class="row d-block w-100">
                        <!-- Vote count for each image -->
                        {% set imageName = pollImage.split("/")[-1] %}
                        <p>Yes Votes: <span id="yes-votes-{{ imageName }}">{{ object.likes_count  }}</span></p>
                        <p>No Votes: <span id="no-votes-{{ imageName }}">{{ object.dislikes_count  }}</span></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</body>
