body {
    color: #000;
    background-color: #fff;
}

.logo h1 {
    margin-left: 30px;
    font-family: "Reenie Beanie", cursive;
    font-weight: 800;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

.login-page {
    max-width: 500px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 25px;
}

.login-icon {
    color: #000000;
    background-color: #FFFFFF;
}
.login-icon:hover, .login-icon:focus {
    color: #FFFFFF;
    background-color: #000000;
}

.nav-pills .nav-link.active {
    background-color: #000000;
    color: #ffffff;
}

.nav-pills .nav-link {
    color: #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #ffffff;
    border-color: #000000;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #000000;
    border-color: #ffffff;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    border-bottom: 1px solid #000000;
}

.user-icon {
    margin-right: 20px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.bottom-page a {
    color: black;
}

.bottom-page a:hover {
    font-weight: bold;
}