body {
    color: #000;
    background-color: #fff;
}

.logo h1 {
    margin-left: 20px;
    font-family: "Reenie Beanie", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}

.login-page {
    max-width: 500px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 25px;
}

.btn-link i.fab.fa-facebook-f,
.btn-link i.fab.fa-google,
.btn-link i.fab.fa-twitter,
.btn-link i.fab.fa-github {
    color: #000000
}

.nav-pills .nav-link.active {
    background-color: #000000;
    color: #ffffff;
}

.nav-pills .nav-link {
    color: #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #ffffff;
    border-color: #000000;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #000000;
    border-color: #ffffff;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    border-bottom: 1px solid #000000;
}

.user-icon {
    margin-right: 20px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.images-grid {
    margin-top: 10px;
}

.images-grid .row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.images-grid .column {
    -ms-flex: 50%;
    /* IE 10 */
    flex: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
    /* Change display to inline-block */
    width: max-content;
}

.image-container img {
    display: block;
    max-width: 300px;
    height: auto;
    /* Ensures the image doesn't have extra space underneath */
}

.image-container .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background: #ffa600;
    color: #000;
    padding: 5px 10px;
    border-radius: 25%;
}

.image-container .btn-left,
.image-container .btn-right {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    color: transparent;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

.image-container .btn-left {
    left: 0;
}

.image-container .btn-right {
    right: 0;
}

.image-container .btn-left:hover {
    background-color: rgba(255, 0, 0, 0.317);
    color: white;
}

.image-container .btn-right:hover {
    background-color: hsla(125, 100%, 50%, 0.317);
    color: white;
}

.above-bottom-page {
    margin-bottom: 60px;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 2;
}

.bottom-page a {
    color: black;
}

.bottom-page a:hover {
    font-weight: bold;
}