body {
    font-family: "Open Sans", sans-serif;
    background-color: #fbfbfb;
    color: #000;
}

.headings {
    margin-top: 100px;
    text-align: center;
}

.headings h1 {
    margin-top: 400px;
}

.headings h2 {
    display: inline-block;
    max-width: 350px;
    background-color: #000;
}

.headings h2:hover {
    font-weight: 600;
}

.navbar {
    background-color: #fbfbfb;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h2 {
    font-family: "Briem Hand", cursive;
    font-weight: 100;
    font-size: 2em;
    color: #BF4500;
    display: inline;
    text-align: left;
    font-style: normal;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}

.navbar p {
    font-size: 1em;
    font-weight: 100;
}

.navbar h2:hover {
    color: #BF4500;
    text-decoration: none;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

.container h1 {
    margin-top: 100px;
    font-size: 2em;
    font-weight: 100;
}

.container h2 {
    font-size: 2em;
    font-weight: 100;
}

.operations {
    text-align: center;
    align-items: center;
}

.operations button {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #BF4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    /* Remove default underline */
}

.operations button:hover {
    background-color: #612400;
}

.operations .file-upload-label {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #BF4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.operations .file-upload-label:hover {
    background-color: #612400;
}

.operations .file-upload {
    display: none;
    /* Hide the default file input */
}

.dropdown-divider {
    margin: 0px;
}

.btn-custom {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #000;
}

.btn-custom:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #000;
}

.btn-primary {
    background-color: #BF4500
}

.btn-primary:hover {
    background-color: #612400
}

/* Override Bootstrap styles for dropdown menu links */
.dropdown-menu a {
    color: #000;
    /* Set the desired color for the links */
}

.dropdown-menu a:hover {
    color: #000;
    /* Ensure the color remains the same on hover */
}

.zcwf_button {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #BF4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    margin: 10px;
}

.zcwf_button:hover {
    background-color: #612400;
}

.zcwf_col_fld_slt {
    color: #000;
}

.access-form {
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

.access-form button {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #BF4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    margin: 10px;
}

.access-form input {
    color: #000
}

.form-group {
    margin-bottom: 15px;
}

.new-user {
    text-decoration: none;
    color: #000;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
}

.flash-messages {
    list-style: none;
    display: inline-block;
    background-color: #fae7dc;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-head {
    text-align: center;
}

.profile-head h1 {
    margin-top: 100px;
}

.profile-head p {
    max-width: 400px;
    /* Set maximum width */
    margin: 0 auto;
    /* Center horizontally */
}

.profile-picture-container {
    width: 150px;
    height: 150px;
    border: 1px solid #e4e4e4;
    /* Border with black color */
    overflow: hidden;
    margin: 20px auto;
    /* Center horizontally */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}


.profile-picture-container img {
    max-width: 100%;
    /* Ensure the image fits within the container */
    max-height: 100%;
    /* Ensure the image fits within the container */
    object-fit: contain;
    /* Maintain aspect ratio and fit within the container */
}

.image-thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.images-grid .image-container img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .images-grid .col-md-4 {
        max-width: 33.33%;
    }
}

@media (max-width: 768px) {
    .images-grid .col-md-4 {
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .images-grid .col-md-4 {
        max-width: 100%;
    }
}

.container-fluid {
    margin-top: 100px;
}