{% extends "base.html" %}

{% block title %} Add Item {% endblock %}
{% block content %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100">
    <form method="POST" action="{{ url_for(endpoint) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image" accept=".png, .jpg, .jpeg, .gif" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
