<!DOCTYPE html>
<html lang="en">
<head>
    <!-- We put in the specific endpoint as the title here -->
    <title>{% block title %} Product Polling {% endblock %} | Should I Buy It?</title>
    <!-- All the header imports are standardised -->
    {% include "resources/head.html" %}
</head>


<body>
    <!-- This is the sticky header bar, that every page has -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="logo text-center">
        <a href="/" class="text-decoration-none">
            <h1 class="mb-0">Should I Buy It?</h1>
        </a>
    </div>
    
        <div class="flex-grow-1"></div>
        <div class="user-icon">
            <div class="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-person-circle dropdown-toggle" viewBox="0 0 16 16" type="button" 
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- SVG paths -->
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/user">Account</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% if banner_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ banner_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

    <!-- This block is where we render page specific content within -->
    {% block content %}
    {% endblock %}

    <!-- tab_bottom is passed as a True variable, we do not need on login -->
    {% if tab_bottom %}
    <div class="bottom-page">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center px-0">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-house" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                        </svg>
                    </a>
                </div>
                <div class="col d-flex justify-content-center align-items-center px-0">
                    <a href="/user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- To add the in DOM requirements / js bootstrap libraries -->
    {% include "resources/foot.html" %}
</body>

</html>