{% extends "base.html" %}

{% block title %} Homepage {% endblock %}
{% block content %}
<div class="images-grid">
    <div class="container-fluid">
        <div class="row" id="image-row">
            {% for object in images %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {% with pollImage = "static/images/" + object.image_path%}
                        {% include "poll/PollWidget.html" %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}