{% extends "base.html" %}
{% block content %}

    <div class="container mx-2">
        <div class="row justify-content-start vh-100">
            <div class="col-auto profile-head">
                <h1></h1>

                <!-- Profile Picture -->
                <div class="profile-picture-container">
                    {% if user.profile_pic %}
                        <img src="{{ url_for('static', filename='upload_folder/' + user.profile_pic) }}"
                             alt="Profile Picture">
                    {% else %}
                        <img src="{{ url_for('static', filename='upload_folder/user-icon.png') }}"
                             alt="Default Profile Picture">
                    {% endif %}
                </div>

                <!-- Username -->
                <h4 class="text-center">{{ user.username }}</h4>

                <!-- Follow / Unfollow Button -->
                <div class="w-auto">
                    <button class="btn btn-primary w-100" id="follow-button" onclick="toggleFollow({{ user.id }})">
                        {% if isFollowing %}
                            Following
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </div>

                <!-- Followers and Following -->
                <div class="row justify-content-around w-auto py-3">
                    <div class="col text-center">
                        <p id="followers-count">{{ followers }}</p>
                        <p>Followers</p>
                    </div>
                    <div class="col text-center">
                        <p id="following-count">{{ following }}</p>
                        <p>Following</p>
                    </div>
                </div>



            </div>
            
            <!-- Image Grid -->
            <div class="col container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row image-grid">
                            {% for object in posts %}
                                <div class="col-lg-6 col-md-8 col-sm-12">
                                    {% with pollImage = url_for('static', filename="upload_folder/"+object.image_path) %}
                                        {% include "poll/PollWidget.html" %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/toggleFollowing.js"></script>
    <script src="{{ url_for('static', filename='js/pollVote.js') }}"></script>

{% endblock %}
