{% extends "base.html" %}
{% block content %}

    <!-- Check User Login State, defunct now methinks -->
    <script src="/static/js/checkUser.js"></script>
    
    <div class="container mx-2">
        <div class="row justify-content-start vh-100">
            <div class="col-3 profile-head">
                <h1></h1>

                <!-- Profile Picture -->
                <div class="profile-picture-container">
                    {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='upload_folder/' + current_user.profile_pic) }}"
                             alt="Profile Picture">
                    {% else %}
                        <img src="{{ url_for('static', filename='upload_folder/user-icon.png') }}"
                             alt="Default Profile Picture">
                    {% endif %}
                </div>

                <!-- Username -->
                <h4>{{ current_user.username }}</h4>

                <!-- Followers and Following -->
                <div class="row justify-content-around w-100 ">
                    <div class="col text-center">
                        <p>0</p>
                        <p>Followers</p>
                    </div>
                    <div class="col text-center">
                        <p>0</p>
                        <p>Following</p>
                    </div>
                </div>

            </div>
            
            <!-- Image Grid -->
            <div class="col container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row image-grid">
                            {% for image in current_user.images[::-1] %}
                                {% if loop.index % 3 == 1 %}
                                    <div class="row">
                                {% endif %}
                            
                            <div class="col-md-4 mb-3">
                                <div class="image-container">
                                    <img src="{{ url_for('static', filename='upload_folder/' + image.image_path) }}"
                                         alt="Uploaded Image" class="img-fluid image-thumbnail">
                                </div>
                            </div>
                            
                            {% if loop.index % 3 == 0 or loop.last %}
                                </div> <!-- Close the row -->
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
