<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Should I Buy It?</title>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <h2>Should I Buy It?</h2>
    </div>
    <div class="headings">
        <p>Register a New User</p>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="access-form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="first_name"></label>
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="last_name"></label>
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="email"></label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="username"></label>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password"></label>
                {{ form.password(class="form-control", id="myInput") }}
            </div>
            <!-- An element to toggle between password visibility -->
            <input type="checkbox" onclick="myFunction()"> Show Password
            <div class="text-center">
                <p>Already have an account?</p>
                <a href="{{ url_for('login.login') }}" class="new-user">
                    <p>Login</p>
                </a>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>

</html>